<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toner</title>
    {{ style('cover') }}
    {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}
    {{ style('//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')}}
    {{ style('https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css')}}
  	{{--  {{ style('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js')}}  --}}
    {{ style('css/fontawesome/css/all.css')}}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
